@import '../../Styles//theme.scss';
.nav_container{
    display: grid;
    grid-template-columns: 70% 30%

}
.login_button{
    background-color: $color-light-green;
    border-radius: 15px;
 
}

.nav_ul{
     position: relative;
    right: 110%;
    top: 30%;

}


.logo{
    width: 100%;
}

li{
    display: inline;
    padding: 15px;
    
    a{
        text-decoration: none;
        color: $color-white;
    }
}
.cart_icon{
    position: relative;
    left: 192%;
    bottom: 40px;
}