@import '../../Styles//theme.scss';
.nav_container{
    display: grid;
    grid-template-columns: 70% 30%

}
.login_button{
    background-color: $color-light-green;
    border-radius: 15px;
 
}

.nav_ul{
     position: relative;
    right: 110%;
    top: 25%;

}


.logo{
    width: 100%;
}

li{
    display: inline;
    padding: 15px;
    
    a{
        text-decoration: none;
        color: $color-white;
    }
}
.cart_icon{
    position: relative;
    left: 192%;
    bottom: 40px;
    height: 20px;
}
.string_contact{
    display: inline;
    color: $color-white;
    position: relative;
    left: 120%;
    bottom: 70px;
    font-size: 10px;
    .phonenr{
        position: relative;
        left: 170px;
        bottom: 23px;
    }
}
.search{
    position: relative;
    left: 120%;
    bottom: 90px;
    width: 200%;
}