@import '../../Styles//theme.scss';

.loginbtn{
    border: none;
    border-radius: 10px;
    background-color: $color-light-green;
    color: $color-dark-green;
}
.logoutbtn{
    border: none;
    border-radius: 10px;
    background-color: $color-light-green;
    color: $color-dark-green;
}

input{
    margin: 5px;
    border-radius: 10px;
    border: none;
    width: 30%;
    display: block;
    background-color: $color-dark-green;
    color: $color-light-green;
   
}
input::placeholder{
    color: $color-light-green;
}
.text_login{
    color: white;
}